@import  "~bootstrap/scss/functions";
@import  "~bootstrap/scss/variables";
@import  "~bootstrap/scss/mixins";
@import  "~bootstrap/scss/_modal.scss";
@import  "~bootstrap/scss/_buttons.scss";
@import  "~bootstrap/scss/_close.scss";
@import  "~bootstrap/scss/_utilities.scss";
@import  "~bootstrap/scss/_tables.scss";
@import  "~bootstrap/scss/_root.scss";
@import  "~bootstrap/scss/_alert.scss";
// @import  "~bootstrap/scss/bootstrap";

.modal-border {
    border-color: rgba(161, 161, 161, 0.2);
    border-radius: 2.5px;
    color:rgb(68, 68, 68)
}

.modal-body {
    min-height: 100px;
    word-wrap: break-word;
}

.modal-header {
    align-items: center;
}

.close span {
    cursor: pointer;
    font-size: 40px;
}

.h4 {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
    border-radius: 0.2rem;
}

.btn-secondary {
    background-color: transparent;
    color: black;
    border-color: #c1c7cc;
}

.table {
    border-collapse: collapse;
    margin: 0 auto;
    min-height: 300px;
    margin-bottom: 4rem;
}

.table th {
    text-align: left;
}

.table th, .table td {
    vertical-align: middle;
}

.table thead th {
    border-width: 1px;
}

.table a , .table button {

    background: none;
    text-decoration: none;
    color: #ba66a3;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: #c882b4;
    }
}

.table .send-date {
    min-width: 9rem;
}


.table .join-date {
    min-width: 11rem;
}

.table tbody:last-child td{
    border-bottom: 1px solid #dee2e6;
}